body{
    font-family: sans-serif;
    background-color: #80BF40;
    padding: 0 7.5%;
    color: #262673;
}

p{
    text-align: justify;
    line-height: 150%;
    font-size: 1em;
    margin: 16px 0px;
}

h1{
    text-align: left;
    font-size: 2em;
    margin: 20px 0px;
}

h2{
    text-align: left;
    font-size: 1.5em;
    margin: 19px 0px;
}

@media screen and (min-width:720px) and (max-width: 1023px){
    body{
        background-color: #40BFBF;
        color: #660000;
        padding: 0 15%;
    }
}

@media screen and (min-width:1024px){
   body{
        background-color: #CCB3E6;
        color: #8F1414;
        padding: 0 30%;
   } 
}